
.header__lang-link {
    color: white;
    font-size: 24px;
    text-decoration: none; 
    list-style-type: none;
}

@media all and (max-width: 1280px) {
    .header__lang-link {
        font-size: 24px;
        line-height: 28px;
    }
}  
@media all and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
} 