
.header__lang-link {
    color: white;
    font-size: 24px;
    line-height: 28px;
    list-style-type: none;
    align-self: center;
    justify-self: right;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: .8;
    text-decoration: underline;
}

.header__lang-link:last-child {
    margin-right: 0;
}

@media all and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
} 