
.footer__column_copyright {
    /*height: 16px;*/
    width: 100%;
    display: inline;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}

@media all and (max-width: 320px) {
    .footer__column_copyright {
        line-height: 14px;
        text-align: left;
        margin: 0;
    }
}    
