
.place__image {
    /*height: 460px;*/
    /*width: 460px;*/
    width: 100%;
}

@media all and (max-width: 1280px) {
    .place__image {
        gap: 40px;
    }
}

@media all and (max-width: 1024px) {
    .place__image {
        gap: 32px;
    }
}

@media all and (max-width: 768px) {
    .place__image {
        gap: 28px;
    }
}
