.cover__subtitle {
    text-align: center;
    /*height: 66px;*/
    width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media all and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 80%;
    }
} 
