
.header {
    max-width: 1184px;
    /*height: 52px;*/
    width: 100%;
    margin: auto auto 56px auto;
    padding-top: 28px;
    display: grid;
    grid-template-columns: 90% 5% 5%;
}

@media all and (max-width: 1280px) {
    .header {
        width: calc(100% - 2 * 48px);
    }
}

@media all and (max-width: 768px) {
    .header {
        width: calc(100% - 2 * 24px);
        grid-template-columns: 84% 8% 8%;
    }
}

@media all and (max-width: 320px) {
    .header {
        width: calc(100% - 2 * 16px);
        grid-template-columns: 76% 12% 12%;
    }
} 
