
.lead__image {
    /*width: 984px;*/
    /*height: 615px;*/
    width: calc(100% - 2*148px);
    margin: auto;
}

@media screen and (max-width: 1280px) {
    .lead__image {
        width: calc(100% - 2*148px);
        /*margin-left: 148px; */
    }
}

@media screen and (max-width: 1024px) {
    .lead__image {
        width: calc(100% - 2 * 48px);
        /*margin-left: 48px;*/

    }
}

@media screen and (max-width: 1024px) {
    .lead__image {
        width: 100%;

    }
}