.footer {
    max-width: 1184px;
    /*height: 18px;*/
    width: 100%;
    flex-direction: row;
    margin: 64px auto 0 auto;
}

@media all and (max-width: 1280px) {
    .footer {
        width: calc(100% - 2 * 48px);
    }
}

@media all and (max-width: 768px) {
    .footer {
        width: calc(100% - 2 * 24px);
    }
}

@media all and (max-width: 320px) {
    .footer {
        min-height: 310px;
        padding-bottom: 24px;
        margin-left: 16px;
    }
}