
.place__url {
    margin-bottom: 0;
    align-self: end;
    width: 100%;
}

@media all and (max-width: 320px) {
    .place__url {
        margin: 0 auto 0;
        width: calc(100% - 2 * 16px);
    }
}